<div class="row">
    <div class="col-lg-4 col-12">
        <form [formGroup]="ChoiceForm" (ngSubmit)="this[EventValueChoice]()">
        
            <div class="row p-5">

                <h3>Opciones - Mantenimiento</h3>
        
                <table class="table">
                    <tr>
                        <td>Texto</td>
                        <td>
                            <input type="text" formControlName="text">
                            <div *ngIf="submitted && ChoiceForm.controls['text'].errors" class="text-danger">
                                <div *ngIf="ChoiceForm.controls['text'].errors['required']">Texto es requerido</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Desencadenante</td>
                        <td>
                            <input type="text" formControlName="question">
                            <div *ngIf="submitted && ChoiceForm.controls['question'].errors" class="text-danger">
                                <div *ngIf="ChoiceForm.controls['question'].errors['required']">Desencadenante es requerido
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Sig. pregunta</td>
                        <td>
                            <input type="text" formControlName="nextQuestion">
                            <div *ngIf="submitted && ChoiceForm.controls['nextQuestion'].errors" class="text-danger">
                                <div *ngIf="ChoiceForm.controls['nextQuestion'].errors['required']">Siguiente pregunta es requerido
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Número</td>
                        <td>
                            <input type="text" formControlName="option">
                            <div *ngIf="submitted && ChoiceForm.controls['option'].errors" class="text-danger">
                                <div *ngIf="ChoiceForm.controls['option'].errors['required']">Número es requerido
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">{{EventValueChoice}}</button>
                        </td>
                    </tr>
        
                </table>
            </div>
        </form>
    </div>
    <div class="col-lg-8 col-12">
        <div class="row p-5">
            <table class="table table-striped">
                <tr>
                    <td>Id</td>
                    <td>Texto</td>
                    <td>Desencadenante</td>
                    <td>Sig. pregunta</td>
                    <td>Número</td>
                    <td colspan="2">Opciones</td>
                </tr>
        
                <tr *ngFor="let c of choices">
                    <td>{{c.id}}</td>
                    <td>{{c.text}}</td>
                    <td>{{c.question}}</td>
                    <td>{{c.nextQuestion}}</td>
                    <td>{{c.option}}</td>
                    <td><a (click)="editDataChoice(c)" class="btn btn-warning">Edit</a></td>
                    <td><a (click)="deleteDataChoice(c.id)" class="btn btn-danger">Delete</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>