<div class="chat">
	<div class="chat-title">
		<h1>Fabio Ottaviani</h1>
		<h2>Supah</h2>
		<figure class="avatar">
			<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
		</figure>
	</div>
	<div #content class="messages">
		<div class="messages-content">
			<div *ngFor="let msg of messages; let last = last">
				<div *ngIf="msg.bot">
					<div class="message new">
						<p>{{ msg.text }}</p>
						<div class="choices" *ngIf="last">
							<button class="choice" href="#" *ngFor="let choice of choices; let last_c = last" (click)="onResponse(choice)" >{{ choice.text }}{{last_c ? scrollToBottom() : ''}}</button>
						</div>
						<figure class="avatar"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/156381/profile/profile-80.jpg" />
						</figure>
					</div>
				</div>
				<div class="message message-personal" *ngIf="!msg.bot">{{ msg.text }}</div>
			</div>
		</div>
	</div>
	<app-chat-form></app-chat-form>
</div>
<div class="bg"></div>