<div class="row px-5">
    <div class="col-lg-4 col-12">
        <form [formGroup]="DialogForm" (ngSubmit)="this[EventValueDialog]()">
        
            <div class="row">

                <h3>Dialogos - Mantenimiento</h3>
        
                <table class="table">
                    <tr>
                        <td>Texto</td>
                        <td>
                            <input type="text" formControlName="text" class="form-control">
                            <div *ngIf="submitted && DialogForm.controls['text'].errors" class="text-danger">
                                <div *ngIf="DialogForm.controls['text'].errors['required']">Texto is required</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Tipo</td>
                        <td>
                            <select formControlName="type" class="form-control" (change)="onChangeType($event)">
                                <option value="">--------</option>
                                <option value="message">Mensaje</option>
                                <option value="input">Input</option>
                                <option value="choices">Opciones</option>
                            </select>
                            <div *ngIf="submitted && DialogForm.controls['type'].errors" class="text-danger">
                                <div *ngIf="DialogForm.controls['type'].errors['required']">Tipo is required</div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Pregunta previa</td>
                        <td>
                            <select formControlName="previousQuestion" class="form-control">
                                <option value="">--------</option>
                                <option *ngFor="let d of dialogs" value="{{d.id}}">ID: {{d.id}}, {{d.text}}</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>URL</td>
                        <td>
                            <input type="text" formControlName="url" class="form-control">
                            <div *ngIf="submitted && DialogForm.controls['url'].errors" class="text-danger">
                                <div *ngIf="DialogForm.controls['url'].errors['required']">URL is required</div>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>Formato</td>
                        <td>
                            <input type="text" formControlName="format" class="form-control">
                            <div *ngIf="submitted && DialogForm.controls['format'].errors" class="text-danger">
                                <div *ngIf="DialogForm.controls['format'].errors['required']">Formato is required</div>
                            </div>
                        </td>
                    </tr> -->
                    <tr>
        
                        <td colspan="2">
                            <button type="submit" class="btn btn-primary">{{EventValueDialog}}</button>
                        </td>
                    </tr>
        
                </table>
            </div>
        
            
        </form>
    </div>
    <div class="col-lg-8 col-12">
        <div class="row">
            <table class="table table-striped">
                <tr>
                    <td>Id</td>
                    <td>Texto</td>
                    <td>Tipo</td>
                    <td>Desencadenante</td>
                    <!-- <td>Url</td> -->
                    <!-- <td>Formato</td> -->
                    <td>Opciones</td>
                </tr>
        
                <tr *ngFor="let d of dialogs">
                    <td>{{d.id}}</td>
                    <td>{{d.text}}</td>
                    <td>{{d.type}}</td>
                    <td>{{d.previousQuestion}}</td>
                    <!-- <td>{{d.url}}</td> -->
                    <!-- <td>{{d.format}}</td> -->
                    <td>
                        <a (click)="editDataDialog(d)" class="btn btn-warning">Editar</a>
                        <a (click)="deleteDataDialog(d.id)" class="ml-1 btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>